VITE_API_URL=http://localhost:4000/api/marketplace
VITE_SOCKET_URL=http://localhost:4000
VITE_SELLER_URL=http://localhost:5174
VITE_SELLER_APP_URL=http://localhost:5174
VITE_GOOGLE_CLIENT_ID=
VITE_RAZORPAY_KEY=
